<?xml version="1.0"?>
<!-- initial phpunit configuration file, that you can modify for your project needs -->
<phpunit cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="false"
         verbose="false"
         bootstrap="app/code/community/EcomDev/PHPUnit/bootstrap.php">
   <listeners>
       <listener file="app/code/community/EcomDev/PHPUnit/Test/Listener.php" class="EcomDev_PHPUnit_Test_Listener" />
   </listeners>
   <testsuite name="Magento Test Suite">
        <file>app/code/community/EcomDev/PHPUnit/Test/Suite.php</file>
   </testsuite>
   <filter>
       <whitelist>
           <directory suffix=".php">app/code/community/Diglin/Ricento</directory>
           <exclude>
               <!-- Blacklist all magento setup scripts -->
               <directory prefix="mysql4-" suffix=".php">app/code/community/Diglin/Ricento</directory>
               <directory prefix="install-" suffix=".php">app/code/community/Diglin/Ricento</directory>
               <directory prefix="upgrade-" suffix=".php">app/code/community/Diglin/Ricento</directory>
               <directory prefix="data-" suffix=".php">app/code/community/Diglin/Ricento</directory>

               <!-- Exclude UnitTests -->
               <directory suffix=".php">app/code/community/Diglin/Ricento/*/Test</directory>

               <directory suffix=".*">app/code/community/EcomDev</directory>
               <directory suffix=".*">app/code/*/Zend</directory>
           </exclude>
       </whitelist>
   </filter>
   <logging>
      <!-- Uncomment this line if you want to have coverage report generated every test run
      <log type="coverage-html" target="var/phpunit/coverage" charset="UTF-8"
            yui="true" highlight="false"
            lowUpperBound="35" highLowerBound="70"/>
      <log type="coverage-clover" target="var/phpunit/coverage.xml"/>
      -->
      <log type="junit" target="var/phpunit/junit.xml" logIncompleteSkipped="false"/>
   </logging>
</phpunit>