<!--@subject ricardo.ch API Authorisation renewal for your Magento shop @-->
Cher Admin,

Vous devez autoriser votre compte pour avoir accès à l'API de ricardo.ch grâce à la page d'autorisation de ricardo.ch.
Si vous ne le faites pas, votre extension ricardo.ch et toutes les transactions associées avec la plateforme ricardo.ch seront blockées.

Veuillez-vous connecter à votre <a href="{{var shop_url}}">page d'administration</a> Magento puis suivre les instructions indiquées dans la bannière de notification en haut de page

Meilleures Salutations
